body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.cta {
  color: Aquamarine;
  font-size: 16px;
}

video {
  width: 100%;
  max-width: 600px;
}

img {
  width: 100%;
  max-width: 600px;
}

.app {
  width: 100px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  color: Gray;
  font-size: 21px;
}

.footer {
  text-align: right;
} 